<header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">CookUni</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="#/">Home</a>

                    {{#if loggedIn}}
                     <a class="nav-link" href="#/user/profile">Welcome, {{name lastName}}</a>
                   ` <a class="nav-link" href="#/user/sharerecipe">Share recipe</a> 
                    <a class="nav-link" href="#">Logout</a> 
                    {{else}}


                    <a class="nav-link" href="#/user/login">Login</a>
                    <a class="nav-link" href="#/user/signup">Register</a>
                    {{/if}}
                </nav>
            </div>
        </header>